/* css建议遵循以下顺序 */
/* 1.布局定位属性: display / position/ float / clear / visibility / overflow(建议display第一个写，毕竟关系到模式) */
/* 2.自身属性: width / height / margin / padding / border / background */
/* 3.文本属性 : color / font / text-decoration / text-align / vertical-align / white- space / break-word */
/* 4.其他属性(CSS3 ) : content / cursor / border-radius / box-shadow / text-shadow / background:linear-gradient... */
* {
    margin: 0;
    padding: 0;
}

.w {
    width: 1200px;
    margin: 0 auto;
}

.clearfix:after {
    content: "";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}

.clearfix {
    *zoom: 1;
}

body {
    background-color: #f3f5f7;
    height: 3000px;
}

.header {
    height: 42px;
    margin: 30px auto;
    /* background-color: pink; */
}

.logo {
    float: left;
    width: 198px;
    height: 42px;
    /* background-color: purple; */
}

li {
    list-style: none;
}

a {
    text-decoration: none;
}

.nav {
    margin-left: 60px;
    float: left;
}

.header .nav ul>li {
    float: left;
}

.nav ul li a {
    display: block;
    height: 40px;
    line-height: 42px;
    padding: 0 10px;
    font-size: 18px;
    color: #050505;
    margin: 0 15px;
}

.nav ul li a:hover {
    border-bottom: 2px solid skyblue;
    color: skyblue;
}

.search {
    float: left;
    width: 412px;
    height: 42px;
    /* background-color: skyblue; */
    margin-left: 70px;
}

.search input {
    float: left;
    width: 345px;
    height: 40px;
    border: 1px solid #00a4ff;
    border-right: 0;
    color: #bfbfbf;
    font-size: 14px;
    padding-left: 15px;
    outline: none;
}


.search button {
    float: left;
    width: 51px;
    height: 42px;
    border: 0;
    background: url(images/fa-search.png);
}

.user {
    float: right;
    line-height: 42px;
    margin-right: 30px;
    font-size: 14px;
}

.banner {
    height: 418px;
    background-color: #1c036c;
}

.banner .w {
    height: 418px;
    background-color: pink;
    background: url(images/banner2.png) no-repeat top center;
}

.subnav {
    float: left;
    width: 190px;
    height: 418px;
    background: rgba(0, 0, 0, .3);
}

.subnav ul li {
    height: 46px;
    line-height: 46px;
    padding: 0 20px;
}

.subnav ul li a {
    color: #fff;
    font-size: 14px;
}

.subnav ul li a span {
    float: right;
}

.subnav ul li a:hover {
    color: yellow;
}

.course {
    float: right;
    width: 230px;
    height: 300px;
    background-color: #fff;
    margin-top: 50px;
}

.course h2 {
    height: 48px;
    color: #fff;
    text-align: center;
    line-height: 48px;
    font-size: 18px;
    background-color: skyblue;
}

.course .bd {
    padding: 0 20px;
    background-color: #fff;
}

.course .bd li {
    padding: 15px 0;
    border-bottom: 1px solid #ccc;
}

.bd ul li h4 {
    font-size: 16px;
    color: #4e4e4e;
}

.bd ul li p {
    font-size: 12px;
    color: #a5a5a5;
}

.kecheng {
    text-align: center;
    line-height: 38px;
    height: 38px;
    border: 1px solid skyblue;
    margin-top: 5px;
}

.kecheng a {
    font-size: 16px;
    font-weight: 700;
    color: #7dc5ff;
}

.rec {
    height: 60px;
    margin-top: 8px;
    background-color: #fff;
    box-shadow: 0px 4px 3px 3px rgba(0, 0, 0, .1)
}

.tb {
    float: left;
    font-size: 16px;
    margin: 21px 0px 21px 34px;
    /* background-color: yellow; */
    /* border: 1px solid black; */
}

.tb td {
    padding: 0 35px;
    font: 16px 'Microsoft yahei';
    border-right: 1px solid #bfbfbf;
}

.tb .last {
    border-right: 0;
}

.tb td a {
    font: 16px 'Microsoft yahei';
    color: #050505;
}

.rec span a {
    float: right;
    font-size: 16px;
    margin: 21px 26px 21px 34px;
    color: #00a4ff;
}

.box {
    margin-top: 30px;
}

.boxhd {
    height: 45px;
}

.box .boxhd h3 {
    float: left;
    font-size: 20px;
    color: #494949;
}

.box .boxhd a {
    font-size: 12px;
    color: #a5a5a5;
    float: right;
    margin-top: 10px;
    margin-right: 30px;
}

.box .boxbd ul li {
    margin-right: 15px;
    float: left;
    width: 228px;
    height: 270px;
    background-color: #fff;
    margin-bottom: 15px;
}

.boxbd ul {
    width: 1225px;
}

.boxbd ul li img {
    width: 100%;
}

.boxbd ul li h4 {
    margin: 20px 20px 20px 25px;
    font-size: 14px;
    color: #050505;
    font-weight: 400;
}

.boxbd .info {
    margin: 0 20px 0 25px;
    font-size: 12px;
    color: #999;
}

.footer {
    height: 419px;
    /* background-color: pink; */
}

.footer .w {
    padding-top: 35px;
}

.copyleft {
    float: left;
}

.copyleft p {
    margin: 20px 0 15px 0;
    font-size: 16px;
    color: #666;
}

.copyleft a {
    display: block;
    width: 118px;
    height: 33px;
    border: 1px solid #00a4ff;
    text-align: center;
    line-height: 33px;
    color: #00a4ff;
    font-size: 16px;
}

.links {
    float: right;
}